@import './variables';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--funo);
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './Components/TopBar/TopBar.scss';
@import './Layouts/LayoutOne.scss';
@import './Components/TopBar/TopBarBottom.scss';
@import './Components/Warehouse/Warehouse.scss';
@import './Pages/Pages.scss';