.layout-one{
  .page{
    padding-top: 80px;
    background-image: url('https://onestop.ferociousmediaweb.com/images/people-walkin-in-warehouse.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 900rem;
  }
}